<h1 class="page-header">Movies</h1>
<div class="movie">
  <form>
    Movie name or part of it: <input type="text" name="movieName" ng-model="movieName">
    <button class="btn btn-primary" ng-click="search()">Search</button>
  </form>	
</div>

<div class="movie" ng-repeat="movie in movieDetails">
  <movie data="movie"></movie>
</div>

<div class="movie" ng-show="movieDetails">
      <div class="well" ng-repeat="movie in movieDetails" ng-init="show=false" ng-click="show=!show">
      	<p>{{movie.Title}} {{movie.Year}}</p>

      	<div class="detailed" ng-show="show">
      		{{movieDetails[movie.imdbID]}}
      	</div>
      </div>   
</div>
